.footer-nav-grid {
    display: flex;
    justify-content: space-around;
    font-size: 2.5rem;
    list-style: none;
    padding-top: 20px;

    @mixin atMedium {
        font-size: 3.5rem;

        @mixin atMedium--height {
            font-size: 4.5rem;
        }
    
    }

    @mixin atLarge {
        font-size: 5rem;
    }

    @mixin atLargest {
        margin-top: 6rem;
        justify-content: flex-end;
        margin-right: 2rem;

        li {
            margin-right: 2rem;
            margin-top: 1.6rem;
        }
    }
    
    a {
        color: white;
    }
}