.footer-nav {
    width: 100%;
    
    background-color: black;
    
    p {
        text-align: center;
        padding-bottom: 1rem;
        padding-top: 10px;
        color: white;
        font-size: .8rem;

        @mixin atMedium {
            font-size: 1rem;

            @mixin atMedium--height {
                font-size: 1.2rem;
            }
        }

        @mixin atLarge {
            font-size: 1.4rem;
        }
    }
}