.image-container {
    width: 80%;
    margin-left:auto;
    margin-right:auto;
    margin-left:auto;
    margin-bottom: 65px;

    &__size {
        width: 100%;
    }

    &__caption {
        width: 100%;
        text-align: justify;
        font-weight: 800;
        background-color: rgb(153, 147, 147);
        margin-top: -4px;
        padding-top: 14px;
        padding-bottom: 14px;
        padding-left: 10px;
        padding-right: 10px;
        color: rgb(49, 47, 47);

        @mixin atLarge {
            font-size: 1.3rem;
        }
    }
}