.mobile-button {
    
    @mixin atSmall {

    position: fixed;
    top: .7rem;
    right: 1rem;
    z-index: 6;
    width: 1.9rem;
    height: 1.9rem;
    
    
        &__top {
            position: fixed;
            top: 15px;
            right: 1rem;
            background-color: white;
            width: 24px;
            height: 2px;
            transform-origin: 0 0;
            transition-property: all;
            transition-duration: .3s;
            transition-timing-function: ease-in;
            
            &--line {
                transform: rotate(43deg) scaleX(1.01);
            }
        }

        &__middle {
            position: fixed;
            top: 22px;
            right: 1rem;
            background-color: white;
            width: 24px;
            height: 2px;
            transform-origin: 0 0;
            transition-property: all;
            transition-duration: .3s;
            transition-timing-function: ease-in;
            
            &--line {
                transform: scaleX(0);
            }
            
        }
            
        &__bottom {
            position: fixed;
            top: 30px;
            right: 1rem;
            background-color: white;
            width: 24px;
            height: 2px;
            transform-origin: 0 0;
            transition-property: all;
            transition-duration: .3s;
            transition-timing-function: ease-in;
            
            &--line {
                transform: rotate(-42deg) scaleX(.99) translateX(-1.8px);
            }
            
       }
    }
            
}

